@{
    ViewData["Title"] = "Home Page";
    //var emails = Model as IEnumerable<EmailViewModel>;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*<h2>Emails</h2>

<ul>
    @foreach (var email in emails)
    {
        <li>
            <strong>Subject:</strong> @email.Subject<br />
            <strong>Sender:</strong> @email.Sender<br />
            <strong>Received:</strong> @email.ReceivedDateTime
        </li>
    }
</ul>*@